:root {


    /* Boje koje su koristene */

    --header-text-boja: #f2f2f2; 
    --header-pozadina-boja: #2a6db1; 
    --main-pozadina-boja: #f2f2f2; 
    --main-text-primarna-boja: #2a6db1; 
    --main-sekeundarna-pozadina-boja: #f2f2f2; 
    --main-text-sekundarna-boja: #c24d2c; 
    --footer-text-boja: #f2f2f2; 
    --footer-pozadina-boja: #2a6db1; 

    /* font stranice */

    --glavni-font: 'Verdana', sans-serif;

    --standardni-razmak: 0.938rem;        /* sve jedinice prebacene iz piksela u rem(1 rem ~ 16px) */
    --standardna-velicina-fonta: 0.875rem; 
}

body {   
    height: 100%;
    font-family: var(--glavni-font);
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header-container {
    display: flex;
    align-items: center;
    background-color: var(--header-pozadina-boja);
    gap: 2.188rem; 
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 232;
}

#header-container img { 
    height: 5.313rem; 
}

#lista-u-headeru { 
    display: flex;
    list-style: none;
    gap: 1.563rem;
}

#lista-u-headeru button a { 

    text-decoration: none;
    color: #f2f2f2;

}

#lista-u-headeru button a:hover { 

    color: var(--header-pozadina-boja);
    transition: 0.5s ease;  
    
}

#lista-u-headeru button { 
    background-color: var(--header-pozadina-boja);
    padding: 0.375rem 0.75rem; 
    border: none;
    border-radius: 0.25rem; 
    color: var(--header-text-boja);
    cursor: pointer;
    font-size: var(--standardna-velicina-fonta);
}

#lista-u-headeru button:hover {
    background-color: #f2f2f2;
    color: var(--header-pozadina-boja);
    transition: 0.336s ease;
}

#glavni-container { 
    display: grid;
    grid-template-columns: 12.5rem 1fr 18.75rem;  
    gap: 1.25rem; 
    padding: 1.25rem;
    min-height: 80vh;
    background-color: white;
    color: var(--main-text-primarna-boja);
}


#nav-na-indexu,#aside-na-indexu { 
    position: sticky; /* nzm da li bi ostavio da se ne krece*/
    top: 7rem;
    align-self: start; 
    max-height: calc(100vh - 8rem); /* Gemini odredio visinu nav-a i asid-a tako da ne idu preko */
    overflow-y: auto;
} 

#nav-na-indexu ul { 
  
  padding: 0;
  margin-top: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  

}

#nav-na-indexu button  {

    color: var(--main-text-primarna-boja);
    width: 100%;;
    height: 2.8rem;
    border: none;    
    text-align: left;
    background-color: var(--main-pozadina-boja);
    cursor: pointer;


}


#nav-na-indexu button:hover{ 


    background-color: var(--main-text-primarna-boja);
    color: var(--footer-text-boja);
    transition: 0.336s ease;


}

#container-za-kartice { 

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
    padding-top: 0;
    padding-bottom: 2.5rem;

}

.kartica {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    transition: transform 0.3s ease;
}

.kartica:hover { 
    transform: translateY(-6px);

}

.kartica img {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
}

.kartica h3, .kartica p, .kartica a {
    padding: 0.625rem;
}

.kartica a {

    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

}

.opis-kartice  {

    padding: 1.25rem;       
    display: flex;       
    flex-direction: column; 
    gap: 0.75rem;

}

.opis-kartice h3 {
    margin: 0;          
    font-size: 1.25rem;
    color: #2c3e50;      
}

.opis-kartice p {
    margin: 0;
    font-size: 0.95rem;
    color: #555;        
    line-height: 1.5;   
    flex-grow: 1;        
}


#kako-do-nas-iframe {

    width:100%; 
    height:25rem; 
    border: none;
            
            
}

.mapa-naslov {
  
    margin-top: 0;

}

 

#nav-na-indexu, #main-na-indexu, #aside-na-indexu { 
    background-color: var(--main-pozadina-boja);
    padding: 1.25rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}


#nav-na-indexu hr, #main-na-indexu hr, #aside-na-indexu hr {
    background-color: var(--main-text-primarna-boja);
    border: none;
    height: 2px; 
    width: 100%;
}

#aside-na-indexu iframe { 
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

#vremenska-prognoza-container { 

    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: aqua;
    



}

#vremenska-prognoza-container p { 

    font-size: 2rem;
    margin-bottom: 0.8rem;
    margin-top: 1rem;

}

#vremenska-prognoza-container img { 

    height: 4rem;
    margin: 0.25rem;

}

#sat-container {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem; 
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: auto; 
}

#footer-container {
    display: flex;
    background-color: var(--footer-pozadina-boja);
    justify-content: space-around;
    align-items: center;
    color: var(--footer-text-boja);
    padding: 1rem 0;
}

#lista-u-footeru-autori { 
    list-style: none;
    padding: 0;
}

#lista-u-footeru-slike a img { 
    height: 3.125rem; 
    margin: 0 0.313rem; 
}


    
@media screen and (min-width: 600px) and (max-width: 900px) {
    #glavni-container {
        grid-template-columns: 12.5rem 1fr; 
    }

    #nav-na-indexu {
       
        grid-row: span 2;
    }

    #main-na-indexu {
       
        grid-column: 2;
    }

    #aside-na-indexu {  
        grid-column: 2;
        position: static; 
        max-height: none;
    }

}

    
@media screen and (max-width: 600px) {
    #glavni-container {
        grid-template-columns: 1fr; 
    }

   #nav-na-indexu, 
    #main-na-indexu, 
    #aside-na-indexu {
        
        grid-column: 1;
        
        position: static; 
        max-height: none;
        width: 94%;
        
        margin-bottom: 1rem;
    }



}

