:root  {

    /* Boja za tekst u headeru */ 
    --header-text-boja: #f2f2f2; 

    /* Boja za pozadinu headera */

    --header-pozadina-boja: #5585b5; 

    /* Boja za pozadinu glavnog dijela */

    --main-pozadina-boja: #f2f2f2; 

    /* Primarna boja za text glavnog dijela */

     --main-text-primarna-boja: #5585b5; 

    /* Sekundarna boja za text glavnog dijela */

    --main-text-sekundarna-boja: #c24d2c; 

    /* Glavni font stranice */

    --glavni-font: 'Arial', sans-serif;

    /* Standardni razmak za margine i padding */
    --standardni-razmak: 15px;  
    
}